/* Ⓒ Mervy Newoor */
/* VER  b0.4  2022 */

.list-group-item{background-color: #424242;}
body {
  background-color: black;
  color: white;
}
#sp-header{
	background: rgba(0, 0, 0, 0.95);
	color: rgba(255, 255, 255, 0.95);
}
.offcanvas-menu{
	background-color: rgba(0, 0, 0, 0.95);
	color: rgba(255, 255, 255, 0.95);
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a:hover{
	background: rgba(0, 0, 0, 0.95);
	color: rgba(255, 255, 255, 0.95);
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner {
    background: #000000;
    padding: 15px;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li a 
{  color: white !important; font-size: 16px; padding: 5px 0; }
.sp-megamenu-parent > li:hover > a {
  color: #FFD851;
}
.sp-megamenu-parent > li.active > a, 
.sp-megamenu-parent > li:hover > a {color: #FFC152;}
#sp-header .sp-megamenu-parent > li > a:hover, 
#sp-header .sp-megamenu-parent > li > a:focus {color: #FFC152;}
.sp-megamenu-parent > li > a {color: #FFC152;}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a {
  color: #FFC152;
}
.sp-megamenu-parent > li.active > a, .sp-megamenu-parent > li.active:hover > a {
  color: #FFC152;
}
body.ltr .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > a > .menu-toggler, body.ltr .offcanvas-menu .offcanvas-inner .sp-module ul > li.menu-parent > .menu-separator > .menu-toggler {
  right: 0; color: white;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item > a:hover {
  color: #FFC152;
}
.sppb-panel {
    background-color: rgb(0, 0, 0);
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: #4C4C4C;
    border-image: initial;
}
.sppb-panel-default>.sppb-panel-heading {
    background: #000000;
}
#offcanvas-toggler > .fa:hover, #offcanvas-toggler > .fa:focus, #offcanvas-toggler > .fa:active {
  color: #ffffff;
}
#offcanvas-toggler > .fa {
  color: #8a8a8a;
}
.form-control{color:#a2a2a2;background-color: #424242;border:#424242;}
.input-group-text{color:#a2a2a2;background-color:#424242;border:1px solid #424242;}
.form-control:focus{color:#a2a2a2;background-color:#424242;border-color:#424242;}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active > a {
    color: #FFC152;
}
input[type="text"]:not(.form-control), input[type="email"]:not(.form-control):focus, input[type="url"]:not(.form-control):focus, input[type="date"]:not(.form-control):focus, input[type="password"]:not(.form-control):focus, input[type="search"]:not(.form-control):focus, input[type="tel"]:not(.form-control):focus, input[type="number"]:not(.form-control):focus, select:not(.form-control):focus {
  color: #a2a2a2;
  background-color: #424242;
  border-color: #424242;
}
input[type="text"]:not(.form-control), input[type="email"]:not(.form-control), input[type="url"]:not(.form-control), input[type="date"]:not(.form-control), input[type="password"]:not(.form-control), input[type="search"]:not(.form-control), input[type="tel"]:not(.form-control), input[type="number"]:not(.form-control), select:not(.form-control) {
  color: #a2a2a2;
  background-color: #424242;
  border: 1px solid #424242;
}
legend{color: #a2a2a2;}
label {
    color: #a2a2a2;
}
input[type="text"]:not(.form-control):focus, input[type="email"]:not(.form-control):focus, input[type="url"]:not(.form-control):focus, input[type="date"]:not(.form-control):focus, input[type="password"]:not(.form-control):focus, input[type="search"]:not(.form-control):focus, input[type="tel"]:not(.form-control):focus, input[type="number"]:not(.form-control):focus, select:not(.form-control):focus {
  color: #a2a2a2;
  background-color: #424242;
  border-color: #424242;
  outline: 0;
}
.bfQuickMode textarea:focus, .bfQuickMode input[type='text']:focus, .bfQuickMode input[type='password']:focus, .bfQuickMode select:focus {background-color: #424242; color: #a2a2a2;}
.bfQuickMode .bfLabelLeft input, .bfQuickMode .bfLabelLeft textarea, .bfQuickMode .bfLabelLeft select, .bfQuickMode .bfLabelLeft button  {
    color: #a2a2a2;
    background-color: #424242;
    border-color: #424242;
}
.bfQuickMode .bfLabelLeft input, .bfQuickMode .bfLabelLeft textarea, .bfQuickMode .bfLabelLeft select, .bfQuickMode .bfLabelLeft button  {
    background-color: #424242;
    border-color: #424242;
}
.ui-mobile, .ui-mobile body {
    background-color: black;

.ui-content {
    background-color: black;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: black;
    border-color: #a2a2a2;
    color: #a2a2a2;
    text-shadow: 0 1px 0 #000000;
}
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
    background-color: black;
    border-color: #fff;
    color: #fff;
    text-shadow: 0 0 black;
}
.ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active, html body .ui-group-theme-a .ui-btn:active, html head+body .ui-btn.ui-btn-a:active {
    background-color: black;
    border-color: #fff;
    color: #fff;
    text-shadow: 0 0 black;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
    background-color: #000000;
    border-color: #fff;
    color: #fff;
    text-shadow: 0 1px 0 #000000;
}
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    text-shadow: 0 1px 0 #0000;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #fff;
    border-color: #fff;
    color: #fff;
    text-shadow: 0 1px 0 #ffffff;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    background-color: #000;
    border-color: #fff;
    color: #fff;
    text-shadow: 0 1px 0 #000000;
}
#sppb-addon-1639764773990 .sppb-addon-content .sppb-btn {
    margin: 5px;
    color: #28bf3d;
}
.sppb-btn-primary.sppb-btn-outline:hover {
    color: #fff;
    background-color: #000;
    border-color: #28bf3d;
}
.sp-copyright:after {
  content: " With help from Mervy Newoor <3";
}
